.hSlider {
    position: relative;

    &__list{
        position: relative;
    }

    &__pagers{
        position: absolute;
        bottom: s(30);
        right: 0;
        left: 0;
        z-index: 10;
        text-align: right;
        display: none;
    }

    &__pager{
        @extend %textHidden;
        display: inline-block;
        text-align: left;
        width: s(16);
        height: s(16);
        border-radius: s(8);
        background-color: $cWhite;
        transition: 400ms background-color $ease-out-quad;

        &+&{
            margin-left: s(20);
        }

        &--active{
            background-color: $cHover;
        }
    }

    &--active{
        overflow: hidden;
        .hSlider__pagers{
            display: block;
        }
    }
}

.hSliderItem {
    position: relative;
    padding: s(140) 0 s(93) 0;
    background-size: cover;
    background-position: center center;
    
    &__box{
        background-color: $cWhite;
        position: relative;
        max-width: s(fixedCol(5) + fixedGut(1));
        padding: s(45) s(35) s(40) s(35);
        margin-left: s(40);
        box-shadow: 8px 8px 0 0 rgba(64, 64, 64, .2);
        background: $cWhite;
        z-index: 1;
    }
 
    &__subtitle {
        display: block;
        margin-bottom: s(20, $s2);
        font-family: $fMontserrat;
        font-size: s($s2);
        color: $cHover;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__title {
        @extend %title;
    }

    &__description {
        margin-bottom: s(35);
        @extend %classicText;
    }

    &__link {
        @extend %button;
        & span {
            @extend %hidden;
        }
    }

    &__figure {
        position: absolute;
        display: block;
        @extend %cover;
        margin-right: auto;
        overflow: hidden;
    }

    &__img {
        display: block;
        width: 100%;
        position: absolute;
        @extend %cover;
        margin: auto;
    }

    .hSlider--active &{
        @extend %cover;
        transform: translate3d(0,0,0);
        
        &.hSliderItem--active{
            transform: translate3d(0,0,0);
            z-index: 10;
        }

        &.hSliderItem--right{
            transform: translate3d(100% ,0,0);
        }

        &.hSliderItem--left{
            transform: translate3d(-100% ,0,0);
        }

        &.hSliderItem--hidden{
            @extend %hidden;
            right: initial;
            bottom: initial;
        }
    }

    .hSlider--anim &{
        transition: 400ms transform $ease-out-quad;
    }
}
