.skills{
    background: $cBlue;
    &__title{
        @extend %hidden;
    }
    &__wrapper{
        @extend .wrapper;
        &:after{
            @extend %clearfix;
        }
    }
}

.skill{
    position: relative;
    float: left;
    width: col(3,12);
    text-align: center;
    margin: s(140) gutter(12) s(140) 0;
    &:last-child{
        margin-right: 0;
    }
    &__name{
        margin: s(35, $s3) 0 s(25, $s3);
        font-size: s($s3);
        letter-spacing: ps_ls(20);
        font-weight: 700;
        text-transform: uppercase;
        color: $cBlack2;
    }
    &__text{
        margin-bottom: s(40);
        color: $cBlack;
        @extend %classicText;
    }
    &__fakeButton{
        position: relative;
        font-size: s($s1);
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: ps_ls(100);
        transition: .3s ease color;
        &:after{
            position: absolute;
            top: s(3);
            display: inline-block;
            @include icon('arrow-right');
            color: $cHover;
            padding-left: s(15, $s1);
            transition: .3s ease transform;
        }
        & span{
            @extend %hidden;
        }
    }
    &__link{
        display: block;
        @extend %cover;
    }
}

.skill__name:before{
    display: block;
    height: s(140, 55);
    width: s(140, 55);
    margin: 0 auto s(30, 55);
    border: 2px solid $cHover;
    border-radius: 50%;
    font-size: s(55, $s3);
    @include iconBase();
    line-height: s(140, 55);
    color: $cHover;
    transition: .3s ease all;
    transition-property: background, color;
}


.skill:hover .skill__name:before,
.skill:focus .skill__name:before{
    background: $cHover;
    color: $cWhite;
    transition: .3s ease all;
    transition-property: background, color;
}

.skill:hover .skill__fakeButton,
.skill:focus .skill__fakeButton{
    color: $cHover;
    transition: .3s ease color;
}

.skill:hover .skill__fakeButton:after,
.skill:focus .skill__fakeButton:after{
    transform: translateX(5px);
    transition: .3s ease transform;
}


// Icons
.skill--drapeau .skill__name:before{
    @include iconInclude('flag');
}

.skill--situation .skill__name:before{
    @include iconInclude('location');
}

.skill--itinéraire .skill__name:before{
    @include iconInclude('itinary');
}

.skill--personne .skill__name:before{
    @include iconInclude('person');
}
