.video{
    margin-top: s(130);
    padding-bottom: s(115);
    position: relative;
    &:before{
        content: '';
        position: absolute;
        top: s(105);
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $cBlue;
    }

    &__title{
        @extend %hidden;
    }
    
    &__container{
        margin: 0 auto;
        @include respVideoContainer(8, 12);
        overflow: hidden;   
    }

    &__player{
        @extend %cover;
    }
}

.videoOverlay{
    @extend %cover;
    z-index: 1;

    opacity: 1;
    visibility: visible;
    transition: visibility 0s linear 300ms, opacity 300ms $ease-out-quad;

    &__link{
        @extend %cover;
        text-indent: -9999px;
        z-index: 1;
        
        &:before{
            content: '';
            width: s(110);
            height: s(110);
            border: s(11) solid rgba(255,255,255,0.6);
            border-radius: 50%;
            position: absolute;
            top: 50%;
            margin-top: s(-66);
            left: 50%;
            margin-left: s(-66);
        }

        &:after{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: s(-58/2);
            margin-left: s(-20);
            @include triangle(right, 50, 58, #FFF);
        }
    }
    &__img{
        @extend %cover;
    }

    .video--active &{
        opacity: 0;
        visibility: hidden;
        transition: visibility 0s linear 300ms, opacity 300ms $ease-out-quad;
    }

}