<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false"
         bootstrap="./tests/bootstrap.php"
>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml" />
    </logging>

    <filter>
        <whitelist>
            <file>src/Kabas/Cmd/Commander.php</file>
            <directory>src/Kabas/Config</directory>
            <directory>src/Kabas/Content</directory>
            <directory>src/Kabas/Controller</directory>
            <directory>src/Kabas/Database</directory>
            <directory>src/Kabas/Fields</directory>
            <directory>src/Kabas/Http</directory>
            <directory>src/Kabas/Objects</directory>
            <directory>src/Kabas/Providers</directory>
            <directory>src/Kabas/Session</directory>
            <directory>src/Kabas/Themes</directory>
            <directory>src/Kabas/Utils</directory>
            <exclude>
                <file>src/Kabas/Utils/Debug.php</file>
                <directory>src/Kabas/Utils/Debug</directory>
            </exclude>
            <directory>src/Kabas/View</directory>
            <file>src/Kabas/App.php</file>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="Kabas Complete Test Suite">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="Cmd">
            <directory>tests/Cmd</directory>
        </testsuite>
        <testsuite name="Config">
            <directory>tests/Config</directory>
        </testsuite>
        <testsuite name="Content">
            <directory>tests/Content</directory>
        </testsuite>
        <testsuite name="Controller">
            <directory>tests/Controller</directory>
        </testsuite>
        <testsuite name="Database">
            <directory>tests/Database</directory>
        </testsuite>
        <testsuite name="Fields">
            <directory>tests/Fields</directory>
        </testsuite>
        <testsuite name="Http">
            <directory>tests/Http</directory>
        </testsuite>
        <testsuite name="Objects">
            <directory>tests/Objects</directory>
        </testsuite>
        <testsuite name="Providers">
            <directory>tests/Providers</directory>
        </testsuite>
        <testsuite name="Session">
            <directory>tests/Session</directory>
        </testsuite>
        <testsuite name="Themes">
            <directory>tests/Themes</directory>
        </testsuite>
        <testsuite name="Utils">
            <directory>tests/Utils</directory>
        </testsuite>
        <testsuite name="View">
            <directory>tests/View</directory>
        </testsuite>
    </testsuites>
</phpunit>