%clearfix{ @include clearfix(); }
%hidden{ @include hidden(); }
%cover{ @include cover(); }
%ctbg{ @include clickableTransparentBg(); }
%textHidden{
    text-indent: -9999px;
}

%ibCenter{
    &:before {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        width: 0;
    }
}