.bannerHome {
    height: s(450);
    background-size: cover;
    background-position: center center;
    padding: 0 s(20);

    @extend %ibCenter;

    &__center {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        letter-spacing: ps_ls(20);
        color: $cWhite;
    }

    &__title {
        font-size: s($sz11);
        font-weight: 800;
        margin-bottom: s(26, $sz11);
    }

    &__small {
        font-size: s($s7);
        font-weight: 500;
    }
}
