.hBloc{
    @extend .wrapper;
    text-align: center;
    padding: s(140) s(20) s(90);
    &__title{
        @extend %title;
        @extend %title--underline;
        @extend %title--center;
    }
    &__description{
        width: 100%;
        max-width: s(fixedCol(6));
        margin: 0 auto;
        @extend %classicText;
        @extend %wysiwyg;
    }
}
