.header{

    &__title{
        @include hidden();
    }

    &__container{
        @extend .wrapper;
        @extend %clearfix;
        background: $cWhite;
        
    }
}

// Logo
.headerLogo{
    height: s(90);
    float: left;
    position: relative;
    max-width: col(3,12);

    &:before{
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 0;
    }

    &__figure{
        max-width: 100%;
        display: inline-block;
        vertical-align: middle;
        img{
            max-width: 100%;
        }
    }

    &__link{
        @include cover();
        text-indent: -9999px;
    }
}
