.intro{

    @extend .wrapper;
    &__wrapper{
        position: relative;
        padding: s(140) (col(1,12)+gutter(12)) 0;
        &:after{
            @extend %clearfix;
        }
    }
    &__content{
        float: left;
        width: 58.47715736%; //(576/985)*100
        margin-bottom: s(70);
    }

    &__title{
        @extend %title;
        @extend %title--underline;
    }

    &__text{
        @extend %classicText;
        margin-bottom: s(48);
    }

    &__link {
        @extend %button;
        & +& {
            margin-left: s(30, $s1);
        }
    }

    &__figure{
        position: absolute;
        bottom: 0;
        right: col(1,12) + gutter(12);
        &__img{
            display: block;
        }
    }
}
