// Nav list
.nav{
    height: s(90);
    float: right;
    @extend %clearfix;
    max-width: colGut(9,1,12,0);


    &__title{
        @extend %hidden;
    }
}

.mainNav{
    float: left;
    margin-right: s(75);
    height: 100%;

    &__item{
        position: relative;
        display: inline-block;
        height: 100%;
        &:after{
            position: absolute;
            bottom: 0;
            content: '';
            display: block;
            height: s(0);
            width: 100%;
            background: $cHover;
            transition: .15s ease height;
        }
        &:hover .mainNav__link,
        &:focus .mainNav__link{
            color: $cHover;
            transition: .25s ease color;
        }
        &:hover:after,
        &:focus:after{
            height: s(7);
            transition: .25s $ease-out-quart height;
        }
    }
    &__link{
        display: block;
        height: 100%;
        padding: 0 s(20, $s1);
        font-family: $fMontserrat;
        font-size: s($s1);
        font-weight: 700;
        color: $cBlack;
        text-transform: uppercase;
        transition: .15s ease color;
        &:before{
            content: '';
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            width: 0;
        }
    }
    &__link span{
        display: inline-block;
        vertical-align: middle;
    }
}

// Social list
.socialNav{
    float: right;
    height: 100%;
    &:before{
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 0;
    }
    &__item{
        display: inline-block;
        vertical-align: middle;
  
    }

    &__link{
        display: inline-block;
        @extend %textHidden;
        position: relative;
        width: s(35);
        height: s(35);

        &:before{
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            text-align: center;
            margin-top: -0.5em;
            @include iconBase();
            color: $cBlack;
            font-size: s($s1);
            transition: .25s ease color;
            text-indent: 0;
        }
        &--facebook:before{
            @include iconInclude('facebook');
        }
        &--twitter:before{
            @include iconInclude('twitter');
        }
        &--linkedin:before{
            @include iconInclude('linkedin');
        }
    }
}

.socialNav__item:last-child .socialNav__link:before{
    margin-right:0;
}

.socialNav__link:hover:before,
.socialNav__link:focus:before{
    transition: .25s ease color;
}


.socialNav__link--facebook:hover:before,
.socialNav__link--facebook:focus:before{
    color: $cFacebook;
}

.socialNav__link--twitter:hover:before,
.socialNav__link--twitter:focus:before{
    color: $cTwitter;
}

.socialNav__link--linkedin:hover:before,
.socialNav__link--linkedin:focus:before{
    color: $cLinkedin;
}
