$cWhite:    #FFF;
$cFakeWhite: #e8f0f2;

$cBlack:    #666667;
$cBlack2:   #575757;

$cHover:    #54a7a9;

$cBlue :    #f2f2f2;
$cFooter : #424f4f;

$cFacebook: #3b5998;
$cTwitter:  #55acee;
$cLinkedin: #007bb5;
