//    Number of columns
$gridz_colCount: 12;
//    Base grid-size (without units but based on pixels)
$gridz_totalWidth: 1186;
//    Base gutter-size (without units but based on pixels)
$gridz_gutterWidth: 30;
