html,
html * {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    /* IOS :  Prevent font scaling in landscape while allowing user zoom */
}

.hidden, .sro{
    @extend %hidden;
}

body {
    background-color: $cWhite;
    font-family: $fRegular;
    color: $cBlack;
}

.wrapper {
    //width: 100%;
    max-width: s(fixedCol(12));
    margin: 0 auto;
}

.mainContent {
    &--subMenu {
        margin-top: s(114);
        @media screen and (max-width: s(1100, 16)) {
            margin-top: 0;
        }
    }
}

.sro {
    @include hidden();
}

a {
    text-decoration: none;
}
